header{
  background-color: white;
  position: fixed;
  top:0;
  left:0;
  right:0;
  height: 3em;
  line-height: 3em;
  box-shadow: 0 0.4em 0.2em -0.2em gray;
  color: black;
}
h1{
  font-family: Lato, Arial, sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  padding-left: 0.5em;
  font-size: 1.8em;
  letter-spacing: 0.05em;
  float: left;
}
h1 span{
  font-weight: 700;
}
main{
  position: fixed;
  top: 3em;
  left:0;
  right:0;
  bottom:0;
  overflow-x: hidden;
  overflow-y: scroll;
}
nav{
  font-family: Lato, Arial, sans-serif;
  float: right;
  font-weight: bold;
}
nav a{
  text-decoration: none;
  color: gray;
  transition: color 0.3s, background-color 0.3s;
  display: inline-block;
  padding: 0 1em;
}
nav a:hover{
  color:black;
  background-color: #ccc;
}
